einops==0.8.0
gradio==5.0.2
h5py==3.11.0
huggingface_hub==0.25.2
kapture==1.1.10
kapture_localization==1.1.10
matplotlib==3.7.1
numpy==2.1.2
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
packaging==24.1
Pillow==10.4.0
pillow_heif==0.18.0
plyfile==1.1
poselib==2.0.4
pycolmap==3.10.0
pymeshlab==2023.12.post2
pyrender==0.1.45
quaternion==3.5.2.post4
roma==1.5.0
scikit_learn==1.5.2
scipy==1.14.1
setuptools==75.1.0
tensorflow==2.17.0
torch==2.4.1+cu121
torchvision==0.19.1+cu121
tqdm==4.66.5
trimesh==4.4.9
waymo_open_dataset==1.0.1
